.imagem{
  filter: blur(2px);
  object-fit: cover;
  object-position: 0 0;
  height: 400px;
}

.fonte{
  font-family: 'Satisfy', cursive;
}

.cor-fonte{
  color: black;
}

.card-border{
  border: none;
}
.card-format{
  width: 14rem;
  height: 20rem;
  border-radius: 5px;
}

.back{
  background-color: black!important;
}
