/* Scroll */

::-webkit-scrollbar-track {
    background-color:#111;
}
::-webkit-scrollbar {
    width: 6px;
    background: #7DD49B;
}
::-webkit-scrollbar-thumb {
    background: #7DD49B;
}

/* Header */

.logo-header{
    height: 60px;
}

.btn-login{
    background: none;
    color: #7DD49B;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 5rem;
}
.btn-cadastro{
    background: #7DD49B;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 5rem;
}

.imagem-toggle {
    width: 30px;
    height: 30px;
}

.imagem-colaborador {
    width: 300px;
    border-radius: 50%;
}

.navbar-nav{
    align-items: center;
}

@media (max-width: 768px){
    .logo-header{
        height: 39px;
    }
}

/* Home */

.conteudo-home{
    background: #212529;
}

.imagem{
    object-fit: cover;
    object-position: 0 0;
    height: 400px;
}
  
.fonte{
    font-family: 'Satisfy', cursive;
}

.preto{
    color: #000000;
}

.card-border{
    border-width: 5px;
    border-color: #7DD49B;
    border-radius: 5px;
}
.card-format{
    object-fit: cover;
    height: 350px;
}

@media(max-width: 570px){
    .card-border{
        max-width: 252px;
    }
}

/* Página de Busca*/

.conteudo-busca{
    background: #212529;
    color: #7DD49B;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo-busca h1{
    text-align: center;
    padding-left: 10px;
}

.section-busca{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    align-items: center;
}

.div-buscador{
    display:flex;
    justify-content: center;
}

.input-busca{
    margin-top: 20px;
    color: whitesmoke;
    padding-left: 15px;
    height: 50px;
    border: none;
    background: #111;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: 0.5s;
}

.input-busca:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    margin-right: 5px;
    transform: scale(1.1);
}

.btn-buscador{
    margin-top: 20px;
    height: 50px;
    width: 100px;
    border: none;
    background: #57946C;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.5s;
}

.btn-buscador:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    margin-left: 5px;
    transform: scale(1.1);
}

.section-resultado-busca{
    width: 100%;
    background: #222;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.poster-filme{
    border: 2px solid black;
    height: 480px;
    width: 320px;
}

.lista-info-filme{
    color: #7DD49B;
    height: 50vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
}

/* Modal Busca */

.info-filme{
    font-weight: bold;
}

.info-filme span{
    font-weight: normal;
}

.texto-modal{
    list-style-type: none;
}

.modal-header, .modal-footer, .modal-body{
    border: none;
    background: #111;
}

.modal-content{
    width: 100vh;
}
.modal-body{
    padding: 0;
    height: 80vh;
    width: 100vh;
}

/* Página Contato */

.background-navbar {
    background-color: #000000;
}

.texto-verde {
    color: #7DD49B!important;
}

.texto-titulo {
    color: #7DD49B!important;
    font-weight: bold;
}

.imagem-toggle {
    width: 30px;
    height: 30px;
}

.icones {
    width: 40px;
    height: 40px;
} 

.imagem-colaborador {
    width: 300px;
    border-radius: 50%;
    border: 2px solid #7DD49B;
}


/* view das informações dos posters */
.section-poster-info{
    background: #212529;
    display: flex;
}

.poster-filme-info{
    border: 2px solid black;
    max-width: 260px;
    border:5px solid #7DD49B;
    border-radius: 5px;  
}

.lista-poster-info{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
}

/* responsividade do logo em telas menores que 435px */
@media(max-width: 435px){
    .tamanho-logo{
      width: 210px;
    }

    .imagem-colaborador {
        width: 300px;
        border-radius: 50%;
    }
}

@media (max-width: 768px){
    .imagem-colaborador {
        width: 250px;
    }
}


/* Página Login, Cadastro e Recuperar Senha*/

.container-cadastro {
    height: 100vh;
}


.texto-formulario {
    color: #7DD49B!important;
    font-size: 18px;
}

.text-muted {
    color: #1e7e34!important;
    font-weight: bold;
}

.botao {
    margin-left: 0px;
    margin-right: 0px;
    padding: 12px 18px;
    border-radius: 10px;
    text-decoration: none;
    font-family: Sans-serif;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    z-index: 0;
    border: linear-gradient(to right, #2a5a35, #28a745);
}

.botao span {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    z-index: 0;
    background: linear-gradient(to right, #2a5a35, #7dd49b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.botao:before {
    content: '';
    background: linear-gradient(to right, #2a5a35, #7dd49b);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
}

.botao:after {
    content: '';
    background: #fff;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    position: absolute;
    border-radius: 8px;
    z-index: -1;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
    cursor: pointer;
    background: #2a5a35;
    border-color: #28a745;
}

.link-retorno:hover {
    font-weight: bold;
}

.invisivel {
    display:none;
    width: 0;
    height: 0;
}

.mensagemErro-small {
    color: #ff0000;
}
.mensagemConfirmacao-small {
    color: #008000;
}

@media (max-width: 767px){
  .container-cadastro {
      height: auto;
  }

  .container-msgCadastro {
      height: 100vh;
  }
}

.link-info{
    transition: 500ms ease-out;
}

.link-info:hover{
    transform: scale(1.2,1.2);
}
